.nav {
  grid-area: n;
  background-color: deepskyblue;

  padding: 20px 25px;
  margin-top: 10px;
}

.item {
  margin-bottom: 10px;
}

.item a {
  font-size: 25px;
  color: antiquewhite;
  font-weight: 500;
  text-decoration: none;

  padding: 5px 10px;
}

.item a:hover {
  border: 1px solid antiquewhite;
}
