.dialogs {
  display: grid;

  grid-template-columns: 3fr 10fr;
}

.items {
  padding: 20px 35px;
  text-align: left;
}


.messages {
  padding: 20px 25px;
}

.messageElement {
  margin-bottom: 200px;
}

.messageInput {
  text-align: right;
}

.textarea {
  width: 100%;
  max-width: 650px;
  margin-bottom: 10px;
}

